Repository sosy-lab/java-smt, pull requests merged in 2025-03, with the labels that each got.

#445 Extend mathsat wrapper with more parse functions
  doc/Developers-How-to-Release-into-Ivy.md
  lib/ivy.xml
  lib/native/source/libmathsat5j/compile.sh
  lib/native/source/libmathsat5j/includes/defines.h
  lib/native/source/libmathsat5j/org_sosy_1lab_java_1smt_solvers_mathsat5_Mathsat5NativeApi.c
  src/org/sosy_lab/java_smt/solvers/mathsat5/Mathsat5AbstractNativeApiTest.java
  src/org/sosy_lab/java_smt/solvers/mathsat5/Mathsat5NativeApi.java
Labels: MathSAT

#453 Fix library symlinks
  lib/native/arm64-linux/libopensmtjava.so
  lib/native/arm64-windows/README.md
  lib/native/x86_64-windows/README.md
Labels: bug, solver

#456 Allow empty String ranges
  src/org/sosy_lab/java_smt/api/StringFormulaManager.java
  src/org/sosy_lab/java_smt/solvers/cvc4/CVC4StringFormulaManager.java
  src/org/sosy_lab/java_smt/solvers/cvc5/CVC5StringFormulaManager.java
  src/org/sosy_lab/java_smt/solvers/princess/PrincessEnvironment.java
  src/org/sosy_lab/java_smt/solvers/princess/PrincessStringFormulaManager.java
  src/org/sosy_lab/java_smt/test/StringFormulaManagerTest.java
Labels: API, Documentation

#454 Update CVC5 to 1.2.X
  .appveyor.yml
  README.md
  build/build-maven-publish.xml
  build/build-publish-solvers/solver-cvc5.xml
  doc/Developers-How-to-Release-into-Ivy.md
  docker/ubuntu1804.Dockerfile
  docker/ubuntu2204.Dockerfile
  lib/ivy.xml
  lib/native/arm64-linux/libcvc5jni.so
  lib/native/x86_64-linux/libcvc5.so
  lib/native/x86_64-linux/libcvc5jni.so
  lib/native/x86_64-linux/libcvc5parser.so
  lib/native/x86_64-linux/libpoly.so
  lib/native/x86_64-linux/libpolyxx.so
  lib/native/x86_64-windows/README.md
  solvers_ivy_conf/ivy_cvc5.xml
  src/org/sosy_lab/java_smt/solvers/cvc5/CVC5AbstractProver.java
  src/org/sosy_lab/java_smt/solvers/cvc5/CVC5ArrayFormulaManager.java
  src/org/sosy_lab/java_smt/solvers/cvc5/CVC5BitvectorFormulaManager.java
  src/org/sosy_lab/java_smt/solvers/cvc5/CVC5BooleanFormulaManager.java
  src/org/sosy_lab/java_smt/solvers/cvc5/CVC5EnumerationFormulaManager.java
  src/org/sosy_lab/java_smt/solvers/cvc5/CVC5Evaluator.java
  src/org/sosy_lab/java_smt/solvers/cvc5/CVC5FloatingPointFormulaManager.java
  src/org/sosy_lab/java_smt/solvers/cvc5/CVC5FormulaCreator.java
  src/org/sosy_lab/java_smt/solvers/cvc5/CVC5FormulaManager.java
  src/org/sosy_lab/java_smt/solvers/cvc5/CVC5IntegerFormulaManager.java
  src/org/sosy_lab/java_smt/solvers/cvc5/CVC5InterpolatingProver.java
  src/org/sosy_lab/java_smt/solvers/cvc5/CVC5Model.java
  src/org/sosy_lab/java_smt/solvers/cvc5/CVC5NativeAPITest.java
  src/org/sosy_lab/java_smt/solvers/cvc5/CVC5NumeralFormulaManager.java
  src/org/sosy_lab/java_smt/solvers/cvc5/CVC5QuantifiedFormulaManager.java
  src/org/sosy_lab/java_smt/solvers/cvc5/CVC5RationalFormulaManager.java
  src/org/sosy_lab/java_smt/solvers/cvc5/CVC5SLFormulaManager.java
  src/org/sosy_lab/java_smt/solvers/cvc5/CVC5SolverContext.java
  src/org/sosy_lab/java_smt/solvers/cvc5/CVC5StringFormulaManager.java
  src/org/sosy_lab/java_smt/solvers/cvc5/CVC5UFManager.java
  src/org/sosy_lab/java_smt/test/InterpolatingProverTest.java
  src/org/sosy_lab/java_smt/test/SolverContextFactoryTest.java
  src/org/sosy_lab/java_smt/test/SolverContextTest.java
  src/org/sosy_lab/java_smt/test/SolverThreadLocalityTest.java
Labels: CVC5
